@use 'variaveis';


.gallery {


    @media (max-width: 768px) {
        .gallery__container {
            width: 768px;

            //horizontal center last column
            &__list-images {
                grid-template-columns: 1fr 1fr;
                gap: 5px;

                img {
                    height: 250px;
                    width: 380px;
                    border-radius: 4px;
                    margin-bottom: 16px;
                }
            }

            p {
                width: 100%;
            }
        }
    }

    &__container {
        width: 1424px;
        display: block;

        &__list-images {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            list-style: none;

        }

        h2 {
            text-align: center;
            font-size: 34px;
            color: variaveis.$TextColor;
            margin: 100px 0 20px;
        }

        img {
            height: 250px;
            max-width: 48vh;
            border-radius: 4px;
            margin-bottom: 16px;
        }
    }

    p {
        font-size: 30px;
        text-align: center;
        width: 50%;
        color: variaveis.$TextColor;
    }
}