@use 'variaveis';
@use 'home';
@use 'synopsis';
@use 'gallery';
@use 'faq';


@mixin container() {
    width: 1024px;
}

@mixin fontTitle () {
    font-family: "Libre Baskerville", serif;
    font-weight: 410;
    font-style: normal;
}


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}


header {

    @media (max-width: 768px) {
        width: 768px;
    }

    .header__nav {
        &__container {
            display: flex;

            ul {
                @include container();
                padding: 40px 0;
                display: flex;
                margin-left: 250px;
                list-style: none;
                font-family: "Dosis", sans-serif;
                font-style: normal;
                font-size: 22px;

                a {
                    text-decoration: none;
                    color: variaveis.$TextColor;

                    &:hover {
                        color: red;
                    }
                }
            }

            img {
                max-width: 100px;
                margin: 5px 25px;
            }
        }
    }
}

//colocar imagem no background com color overlay
body {
    background-color: variaveis.$bgColor;
    font-style: normal;
}


footer {
    background-color: variaveis.$bgFooter;
    padding: 25px;
    color: variaveis.$TextColor;

    .lista {
        @include container ();
        display: flex;
        list-style: none;

        a {
            color: variaveis.$TextColor;
            text-decoration: none;
        }

        &__privacy {
            display: block;

            li {
                margin-bottom: 10px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__contact {
            display: block;

            h3 {
                margin-bottom: 5px;
            }

            p {
                margin-bottom: 5px;
            }
        }

        &__links {
            display: block;

            li {
                margin-bottom: 10px;

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &__newsletter {
            h3 {
                margin-bottom: 10px;
            }

            input {
                border: none;
                padding: 10px;
                font-weight: bold;
                color: variaveis.$bgColor;
            }
            button {
                padding: 10px;
                border: none;
                background-color: variaveis.$bgColor;
                color: variaveis.$TextColor;
                font-weight: bold;
                font-size: 16px;

                &{
                    &:hover{
                        background-color: transparent;
                        color: variaveis.$bgSecondaryColor;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}